:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0,0,0,0.3);
  --shadow-light :0 2rem 5rem rgba(0, 0, 0, .06);

  --line: 1px solid var(--color-grey-light-2);

}

// media query can not use pure css variable. Can it now?
// use sass variables.

$bp-largest: 75em; // 1200px / 16px = 75
$bp-large: 70em; // 1100px 
$bp-medium:56.25em; // 900
$bp-small:37.5em; // 600 , there is no obvious view crush, just wanna change the layout

$bp-samllest:31.25em; // 500, for flex-box order property

// 980


* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px(target) /16px(browser default) -> 1rem = 10px;

  @media only screen and (max-width:$bp-large){ // why use the unit in `em`
    font-size: 50%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--color-grey-dark-2);
  line-height: 1.6;
  background-image: linear-gradient(
    to bottom right,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  background-size: cover;
  background-repeat: no-repeat;
  padding: 8rem 0; // fix the scroll bar problem.

  /* it will be removed, when its container gets larger OR -> set min-height */
  //   height: 100vh;
  min-height: 100vh;

  @media only screen and (max-width:$bp-largest){ // why use the unit in `em`
    padding: 0;
  }
}
