/***************
 * HEADER LOGO *
 ***************/
.logo {
  height: 3.25rem;
  margin-left: 2rem; // change it for layout symmetric: user-nav__user part
}

/**********
 * SEARCH *
 **********/
.search {
  flex: 0 0 40%;

  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    // the font famliy,font-size, color of input doesn't inherit
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 4rem 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.5rem; // it's for the button element

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }

    &:focus {
      width: 100%;
      outline: none;
      background-color: var(--color-grey-light-3);
    }
  }

  // adjacent selector : "+" for sibling elements.
  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }
  &__button {
    border: none;
    font-size: 1rem;
    line-height: 1;

    background-color: var(--color-grey-light-2);
    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }
  &__icon {
    // format a svg icon
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

/*******************
 * USER NAVIGATION *
 *******************/
.user-nav {
  align-self: stretch;

  display: flex;
  align-items: center;

  & > * {
    // direct chilren element of something
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;

    display: flex;
    align-items: center;

    &:hover {
      background-color: var(--color-grey-light-2);
    }
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    position: absolute;
    top: 1.5rem;
    right: 1.2rem;
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // he separate nested element again
  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

/*******************
 * SIDE NAVIGATION *
 *******************/
.side-nav {
  font-size: 1.4rem;
  list-style: none; // ul dot
  margin-top: 3.5rem;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  /* for the hover effect */
  &__item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 3px;
    height: 100%;
    background: var(--color-primary);
    transform: scaleY(0); // The Y direction is from top to bottom
    transition: transform 0.2s,
      width 0.4s cubic-bezier(0.91, -0.02, 1, 0.55) 0.2s, background-color 0.1s; // multiple transtion
  }

  // the way he thinks to let active one do the same as hover state
  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%; // it needs a delay
  }

  &__item:active::before {
    background-color: var(--color-primary-light);
  }

  /* handle the common case for alink */
  &__link:link,
  &__link:visited {
    color: var(--color-grey-light-1);
    // for underline
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    //@IMTPORTANT: zIndex only works when we have specified postion
    z-index: 10;
    position: relative;
    display: flex;
    align-items: center;
  }

  &__icon {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; // color of its element here or its parent's
  }
}

/*********
 * LEGAL *
 *********/
.legal {
  font-size: 1.2rem;
  padding: 2rem;
  color: var(--color-grey-light-4);
  text-align: center; // horizontal direction alignment vs. vertical align which align vertial
}

/***********
 * GALLERY *
 ***********/
.gallery {
  display: flex;

  &__photo {
    // In responsible design always assign a percentage of width / height of img element.
    // So the image stays fluid.
    width: 100%;
    display: block; // the image always a block or inline-block if not want the wide space.
  }
}

/************
 * OVERVIEW *
 ************/
.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line);

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px; // @Rare
    padding: 1.5rem;
  }

  &__stars {
    // @I AM AMAZED!!!!!!!!!!!!!
    // margin: auto;
    margin-right: auto;
    // @I AM AMAZED AGAIN!!!!!!!
    // svg elements behave like inline elements,
    // so it is a bit like text, they produce some more white space.
    // to erase this, we can set svg element display block
    // or:
    display: flex;
  }

  &__icon-star, // remember to group selector together
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
  }

  &__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }

  &__icon-location {
    margin-right: 0.5rem;
  }

  &__rating {
    align-self: stretch;
    color: #fff;
    background-color: var(--color-primary);
    padding: 0 2.25rem;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px;
  }

  &__rating-count {
    font-size: 0.8rem;
    text-transform: uppercase;
  }
}

/*****************
 * BUTTON INLINE *
 *****************/
.btn-inline {
  border: none;
  color: var(--color-primary);
  // The reason why using the inherit is that can make it more reusable and more modular.
  // You can only set the wrapper font-size, the button changes correspondent.
  font-size: inherit;

  // currentColor set the same color as color.when onhover it will change as color changes.
  border-bottom: 1px solid currentColor;
  background-color: transparent; // another place to make it more modular
  padding: 2px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    color: var(--color-grey-dark-1);
  }

  // When does the focus event trigger?
  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; // Did it have a none?
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: none; // Did it have a none?
  }
}
