// He seperate the files, but why?
// May be more readable
.container {
  max-width: 120rem; // So the element can decrease.
  margin: 0 auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; // can increase.
}
.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  display: flex;
}
.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%; // what does percentage relate to

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hotel-view {
  flex: 1;
}

/**********
 * DETAIL *
 **********/
.detail {
  font-size: 1.4rem; // make all its children elements inherit the fontsize.
  display: flex;
  padding: 4.5rem; // Keep the same with below margin-right
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);
}

.description { 
  flex: 0 0 60%;
  margin-right: 4.5rem;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  background-color: #fff;
}

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
